# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/

# Build output
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userprefs

# Logs
*.log
logs/

# NuGet packages
*.nupkg
packages/

# Publish outputs
wwwroot/lib/

# System files
Thumbs.db
Desktop.ini
*.DS_Store

# Sensitive configuration files
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
!appsettings.example.json

